* {
  padding: 0;
  margin: 0;
}

/* Typography */
h1 {
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-family: poppins;
  font-weight: 600;
  font-size: 3.5rem;
}

h3 {
  font-family: "poppins";
  font-weight: 600;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #dfb947;
}

h6 {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 2rem;
}

p {
  font-family: "EB Garamond", serif;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.25;
  margin: 0;
}

/* Typography */
section {
  padding: 2% 4%;
}

/* Header Section */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  background: url(images/Interior-Designer_01.jpg);
  background-size: cover;
  padding: 1% 5%;
  z-index: 1;
}

.nav-link {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  padding-inline: 1rem !important;
}

/* Banner Section */
.carousel-caption {
  text-transform: uppercase;
  top: 12rem;
}

.carousel-caption h1 {
  padding: 0 4rem;
  position: relative;
  top: -18.5rem;
  font-size: 4.3rem;
}

.carousel-caption img {
  width: 36%;
  position: relative;
  top: -6.8rem;
  left: -9rem;
  margin: 0 auto;
}

#carouselImg {
  position: relative;
  top: -5.6rem;
}

.carousel-caption span {
  color: #dfb947;
  display: block;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border: 2px solid white;
  display: inline-block;
  width: 1.5rem;
  padding: 1rem;
  height: 1.5rem;
  background-size: 70% 70%;
}

/* About Section */
.aboutImg {
  margin-left: auto;
  position: relative;
}

#table {
  width: 100%;
  height: 130vh;
}

#ys {
  z-index: -10;
  position: absolute;
  bottom: 145px;
  left: 50px;
}

.aboutUs {
  text-align: right;
  margin-left: auto;
}

.sectionHeading {
  display: inline-block;
  position: relative;
}

.sectionHeading:after {
  content: "";
  height: 2px;
  width: 40%;
  background: #dfb947;
  position: absolute;
  /*   left:calc(50% - 10%); */
  margin-left: auto;
  bottom: -5px;
  left: 0;
  right: 0;
}

#leftHead:after {
  content: "";
  height: 2px;
  width: 40%;
  background: #dfb947;
  position: absolute;
  left: 40%;
  margin-right: 58%;
  bottom: -2px;
  left: 0;
  /* right:0; */
}

.aboutUs h2 {
  margin-top: 1rem;
  padding-left: 2rem;
}

.aboutUs span {
  display: block;
  color: #dfb947;
}

#abx {
  margin: 2rem 0 1rem 0;
  border-bottom: 3px solid #dfb947;
  padding-bottom: 2rem;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.aboutText .readMoreBtn {
  padding: 1rem;
  margin: 2rem 0 4rem 0;
}

.readMoreBtn {
  padding: 0.75rem;
  border: none;
  background-color: #dfb947;
  width: 15rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1rem 0 2rem 0;
}

#long {
  position: relative;
  top: -6rem;
  z-index: -2;
}

#dt {
  display: flex;
  flex-direction: row;
  padding-block: 0.4rem;
  margin-left: 10.55rem;
}

#dt p {
  font-size: 1.7rem;
}

#dt i {
  font-size: 1.75rem;
  padding-left: 1rem;
}

@media (max-width: 767px) {
  .carousel-item img {
    top: 0;
  }
  .navbar {
    background-size: inherit;
    padding: 0;
  }
  .aboutUs {
    text-align: left;
    padding-block: 2rem 0;
  }
  .aboutUs .sectionHeading {
    padding-left: 2rem;
  }
  #abx {
    padding-left: 2rem;
  }
  #dt {
    margin: 0;
    padding-left: 2rem;
  }
  #dt i {
    margin-right: 3rem;
  }
  .readMoreBtn {
    margin-left: 2rem;
  }
  .stats {
    padding-top: 3rem;
    padding-left: 1rem;
  }
  #stat1 h1 {
    font-size: 2.5rem;
  }
  #stat1 h6 {
    font-size: 1rem;
  }
  #ys {
    bottom: -0.7rem;
    left: inherit;
    right: 0;
    width: 50%;
  }
  #carouselImg {
    top: 0;
  }
}
/* Services Section */
.sectionHeading {
  margin-bottom: 2rem;
}

.services {
  text-align: center;
}

.service-box {
  margin-inline: 0.5rem;
  border: 1px solid grey;
  padding-block: 4rem 0;
  transition: 0.3s all ease-in-out;
  position: relative;
}
.service-box .content {
  transition: all 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 0%;
  z-index: 9;
}
.service-box .content a {
  display: block;
  padding: 1rem 2rem;
  background-color: #dfb947;
  color: #010101;
  text-decoration: none;
}
.service-box .content h3 {
  color: #ffffff;
  width: 15rem;
}
.service-box::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.851);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
  transform-origin: 100% 100%;
}
.service-box:hover::after {
  opacity: 1;
  transform: scaleY(1);
}
.service-box:hover img, .service-box:hover h3, .service-box:hover p {
  opacity: 0;
}
.service-box:hover .content {
  opacity: 1;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service-box:hover .content h3 {
  color: #fff;
  opacity: 1;
}
.service-box:hover .content img {
  opacity: 1;
}

.service-box h3 {
  font-size: 1.35rem;
  color: #010101;
}

.service-box img {
  padding-bottom: 1rem;
}

.service-box p {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

#construction {
  background-image: url(images/services4th.png);
}

@media (min-width: 992px) {
  .col-lg-3 {
    width: 23.7%;
  }
}
@media (max-width: 767px) {
  .service-box {
    margin-inline: 0;
    margin-block: 1rem;
  }
  #construction {
    background-size: cover;
  }
}
/* Projects Section */
.container {
  max-width: inherit;
}

.card {
  position: relative;
}

.card:hover .card-body {
  display: block;
}

.card:hover {
  background-color: #252526;
}

.card:hover .card-img {
  z-index: -1;
}

/* .card:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
} */
.card-img {
  border-radius: 0;
}

.card-body {
  z-index: 5;
  display: none;
  z-index: 50;
  position: absolute;
  top: 25%;
  left: 20%;
}

.card-title,
.card-subtitle {
  font-family: "poppins";
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.card-subtitle span {
  font-size: 1.2rem;
}

.btn {
  font-family: "poppins";
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  border: 0.5px solid #dfb947;
  padding: 0.75rem 2rem;
}
.btn:hover {
  border: 1px solid #fff;
  color: #dfb947;
}

/* Work Flow Section */
.workFlo {
  background-color: #f5f5f5;
}

.workText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 4rem 0;
  padding: 2rem 0 0.5rem 4rem;
}

#wt2 {
  padding: 1rem 16rem;
}

#workImg {
  padding-inline: 2rem;
  width: 100%;
}

@media (max-width: 767px) {
  .workText h6 {
    font-size: 0.75rem;
  }
  .workText {
    padding: 0;
  }
  .workText h6:nth-child(2) {
    margin-left: 2rem;
  }
  .workText h6:nth-child(3) {
    margin-left: 1rem;
  }
  #workImg {
    padding: 0;
  }
  #wt2 {
    padding: 1rem 5rem;
  }
}
/* testimonials sections */
#noLP {
  padding-left: 0;
}

.tb {
  display: grid;
  position: relative;
}

.tesRS {
  text-align: right;
  width: 60%;
  margin-left: auto;
}

#nameText {
  padding: 1.5rem 0 3rem;
}

.profile {
  display: flex;
  flex-direction: row;
}

.testimonialText {
  padding-right: 1rem;
}

.testimonialImg img {
  height: 90%;
}

.testimonialText p:nth-child(1) {
  font-weight: 700;
  color: #dfb947;
  font-size: 2rem;
}

.woman {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.feedback {
  padding-top: 2rem;
  font-size: 1.6rem;
}

.floatingImg {
  position: absolute;
  top: -5rem;
}

.palmHouse img {
  width: 85%;
}

@media (max-width: 767px) {
  .floatingImg {
    position: static;
  }
  .tesRS {
    text-align: left;
    margin: 0;
  }
  .woman {
    font-size: 1.25rem;
  }
  .testimonialImg img {
    height: inherit;
    width: 400%;
    padding-top: 2rem;
  }
  #nameText {
    padding: 1.5rem 0 1rem;
    font-size: 1.25rem;
  }
  .testimonialText p:nth-child(1) {
    font-size: 1.5rem;
  }
  .feedback {
    font-size: 1rem;
  }
}
/* Contact & Blog Section */
.contact {
  padding: 0;
}

#blogHead {
  display: block;
  position: relative;
}

#blogHead::after {
  content: "";
  height: 2px;
  width: 5%;
  background: #dfb947;
  position: absolute;
  /*   left:calc(50% - 10%); */
  margin-left: auto;
  bottom: -5px;
  left: 0;
  right: 0;
}

.contact h3 {
  text-align: right;
}

.blogs {
  padding: 0;
}

.blogs .container {
  display: flex;
  padding: 2rem;
  padding-right: 0;
  margin-block: 2rem;
  border: 1px solid #efefef;
}

.blogsLeft {
  font-family: "poppins";
  font-size: 1.3rem;
}

.blogsLeft i {
  font-size: 2rem;
  color: #dfb947;
  margin-right: 1rem;
  margin-left: 2rem;
}

.blogsLeft i > p {
  display: inline;
  margin-left: 0.5rem;
  color: grey;
  font-size: 1.5rem;
}

.blogsLeft h5 {
  font-weight: 500;
  display: inline;
  float: right;
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
}

.blogsLeft h4 {
  font-weight: 600;
}

.blogsLeft hr {
  color: #dfb947;
  border-top: 2.5px solid #dfb947;
  opacity: 0.9;
  width: 20%;
  margin-left: auto;
  margin-right: 1rem;
}

.blogsLeft a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  padding-right: 1rem;
}

.blogsLeft p {
  padding-right: 1rem;
  font-family: "poppins";
  font-weight: 400;
  font-size: 1.2rem;
  width: 90%;
  margin-left: auto;
  text-align: right;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

#blogRight {
  position: relative;
  width: 50%;
  padding-right: 0;
}

#blogRight img {
  width: 150%;
}

#bt {
  position: absolute;
  top: 0.5rem;
  right: -3.5rem;
  padding-inline: 1rem;
  background: url(images/Interior-Designer_03.png);
  background-size: cover;
  padding-bottom: 2rem;
}

#bt span {
  font-family: "poppins";
  font-weight: 700;
  color: white;
  font-size: 3rem;
}

#bt p {
  font-family: "poppins";
  font-weight: 500;
  color: black;
  font-size: 1.5rem;
  line-height: 0;
}

#contactDiv {
  position: relative;
}

.contactInside {
  position: absolute;
  top: 20%;
  left: 45%;
  margin-top: -100px;
  margin-left: -100px;
}

.contactInfo {
  padding-inline: 4rem;
  text-align: center;
  position: relative;
  left: -5rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
  border: 1px solid black;
}

.contactInside .sectionHeading {
  color: black;
  font-size: 2.5rem;
}

.contactInfo i {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-top: 2rem;
}

.contactInfo p {
  font-family: "poppins";
  font-weight: 500;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  #blogHead {
    text-align: left;
    padding-left: 1rem;
  }
  #blogHead:after {
    width: 14%;
    bottom: -2px;
    right: 21rem;
  }
  .contactInside {
    margin-top: -94px;
  }
  .contactInfo {
    margin-top: 1rem;
    left: -3.5rem;
    padding-bottom: 0.5rem;
  }
  .contactInfo i {
    margin-top: 1.4rem;
  }
  .blogsLeft h5 {
    font-size: 1rem;
    float: none;
  }
  .blogsLeft p {
    padding-right: 0;
    width: inherit;
    font-size: 1rem;
    text-align: left;
  }
  .blogsLeft i {
    margin: 0;
  }
  .blogsRight img {
    width: 100%;
  }
}
/* Footer Section */
footer {
  background: url(images/Interior-Designer_02.jpg);
}

.footer-even-col-left img {
  width: 40%;
}

footer h6 {
  text-transform: uppercase;
  border-block: 2px solid #dfb947;
  display: inline-block;
}

.footer-even-col-left p {
  font-size: 1.5rem;
  line-height: 40px;
}

.footer-even-col-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links {
  padding-inline: 4rem;
  border-inline: 1px solid black;
}

.links ul li {
  padding-block: 0.5rem;
}

a {
  color: #010101;
  text-decoration: none;
}

.links h4 {
  margin-bottom: 1rem;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contac p {
  font-family: "poppins";
  font-size: 1rem;
  font-weight: 600;
  display: inline;
}

.address {
  line-height: 1.75rem;
  font-family: "poppins";
  font-weight: 600;
  font-size: 1rem;
  padding-block: 1rem;
  border-bottom: 1.5px dashed black;
}

.contac {
  padding-block: 1rem;
}

.contac i {
  font-size: 1.5rem;
  color: #181818;
  /* padding-top: 1rem; */
}

.contac ul p {
  margin-left: 1rem;
  line-height: 0;
}

.contac ul li {
  padding-top: 0.75rem;
}

#phone {
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 50px;
  background-color: #181818;
  color: white;
}

.links ul li {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-style: 1.4rem;
  text-transform: uppercase;
}

.copyright {
  padding: 1% 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #dfb947;
  background: url(images/footer_bottom_03.jpg);
  font-family: "poppins";
  font-size: 1.4rem;
  color: #493909;
}

@media (max-width: 767px) {
  #leftHead {
    padding-left: 2rem;
  }
  #leftHead:after {
    left: 20rem;
  }
}/*# sourceMappingURL=style.css.map */